.phone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 18px;
    margin: 5px;
}
.phone > input[type="text"]:first-of-type {
    width: 35px;
}
.phone > input[type="text"]:nth-of-type(2),
.phone > input[type="text"]:nth-of-type(3) {
    width: 50px;
}